@use '../../styles/variables' as *;

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 309px;

    @media screen and (max-width: $maxwidth) {
        width: 150px;
    }

    & a {
        font-family: $fontkasa;
        font-size: 24px;
        font-weight: 500;
        color: black;
        text-decoration: none;

        @media screen and (max-width: $maxwidth) {
            font-size: 12px;
            text-transform: uppercase;
        }

        &.active {
            text-decoration: underline;
        }
    }
}